html{

background-image: url('/home/javier/Escritorio/practica/mos.jpg');


}


#info{
	color: white;
	font-style: italic;
	text-align: left;
	font-size: small;
	background-color: black;
}

#header{
	

	background-color: green;
	font-size: medium;
	text-align: center;
	color:white;
	margin-top: 2px;
	margin-bottom: 2px;
    height: 60px;
    padding-top: 18px;
    padding-right: 10px;
}

#contenido{
	background-color: white;
	height: 668px;
	background-image: url('/home/javier/Escritorio/practica/mos.jpg');

}


#footer{

background-color:green;
height: 30px; 
text-align: center;
color: white;
font-style: italic;
font-size:-small;
}

#menu{

background-color: green;
color: white;
margin-bottom:2px;
padding-top: 3px; 
height: 30px;
width: 380px;

}