html {
	background-color: #dfd6d5;
}

.cero {
	margin-right: auto;
	margin-left: auto;
	height: 650px;
	width: 920px;
	border-radius: 10px;
	background-color: #dfd6d5;
}

.unoYMedio {
	background-color: black;
	color: white;
	height: 25px;
	width: 920px;
	border-radius: 10px;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	text-align: right;
	font-size: 11px;
}

input {
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 11px;
}

span {
	color: #843229;
}

.login {
	border-radius: 10px;
	color: black;
	background-color: white;
}

.uno {
	background-color: #a8918b;
	height: 100px;
	width: 920px;
	border-radius: 10px;
}

.logo {
	border-radius: 10px;
}

.dos {
	background-color: #843229;
	height: 40px;
	width: 920px;
	border-radius: 10px;

	width:920px;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	background-color:#843229;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	display:block;
	border-radius: 5px;
}

.nav li a:hover {
	background-color:#9b5a53;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:300px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-300px;
	top:0px;
}

.tres {
	background-color: white;
	height: auto;
	width: 920px;
	border-radius: 10px;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	color: black;
	text-align: center;
}

#nombreC {
	width: 250px;
}

#correoC {
	width: 200px;
}

#telefonoC {
	width: 100px;
}

#contrasenia1C {
	width: 150px;
}

#contrasenia2C {
	width: 150px;
}

#direccionC {
	width: 300px;
	height: 70px;
}

#errorNombre {
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: #843229;
}

#errorTelefono {
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: #843229;
}

#errorCorreo {
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: #843229;
}

.obligatorio {
	color: red;
	font-weight: bold;
}

#noIguales {
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: #843229;
}

#noValido {
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: #843229;
}

#userNovalido {
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: #843229;
}

#botonNuevo {
	border: none;
    background: #843229;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    font-family:"Courier New", Courier, monospace;
    font-weight: bold;
}

#botonNuevo:hover {
	background: #9b5a53;
}

.botonsito {
	border: none;
    background: #843229;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    font-family:"Courier New", Courier, monospace;
    font-weight: bold;
}

.botonsito:hover {
	background: #9b5a53;
}

img {
	border-radius: 10px;
}

.cuatro {
	background-color: #843229;
	height: 150px;
	width: 920px;
	border-radius: 10px;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	color: white;
}

td {
    font-size: 11px;
    line-height: 20px;
    padding: 20px 20px;
    text-align: left;
    vertical-align: top;
    width: 25%;
}

a.sinSubrayado {
	text-decoration: none;
	color: white;
}

td.primero {
    border-right: 2px solid #9b5a53  ;
}

td.segundo {
    border-right: 2px solid #9b5a53  ;
}

td.tercero {
    border-right: 2px solid #9b5a53  ;
}

.cinco {
	background-color: #dfd6d5;
	height: 15px;
	width: 920px;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
	color: black;
	font-size: 10px;
	text-align: center;
}

.logoFinal {
	height: 70px;
	width: auto;
}