.contenido {
	height: auto;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}

.cero {
	height: 20px;
	background: black;
	color:white;
	font-size: 15px;
	font-family: Helvetica;
	text-align: right;
	padding: 5px;
	margin: 0;
}

.palabraUser {
	color:red;
}

.puntocinco {
	height: 50px;
	width: 720px;
}

.uno {
	height: 150px;
	width: 720px;
	padding-left: 5px;
}

.dos {
	height: auto;
	background: #91817D;
	width: 720px;
	padding-left: 5px;
	padding-right:  5px;
	padding-bottom: 10px;
	font: bold 90% monospace;
	text-align: center;
	color: white;
}

.tres {
	height: 100px;
	background: #91817D;
	width: 720px;
	padding-left: 10px;
	padding-right:  10px;
}