html{

	background-color: #995FEE;
}

#info{
	color: white;
	font-style: italic;
	text-align: left;
	font-size: small;
	background-color: black;
}

#header{
	

	background-color: #D61202;
	font-size: medium;
	text-align: center;
	color:white;
	margin-top: 2px;
	margin-bottom: 2px;
    height: 60px;
    padding-top: 18px;
    padding-right: 10px;
}

.contenido{
	
	text-align: center;
	background-image: url('/home/javier/Escritorio/panes/logo.png');
	height: 668px;
	background-color: #995FEE;

}

.contenido .tab{

    margin: 0 auto;
    text-align: left;
    background-color: lightgreen;
	padding: 5px,15px;
	border-radius: 9px;
	}

.tab{
	border-spacing: 9px;
	
}

th{
	color: white;
	background-color: lightgreen;
	padding: 5px,15px;
	border-radius: 9px;
	
}

caption{
	
	font: oblique bold 120% cursive;

}



#footer{

background-color:#D61202;
height: 30px; 
text-align: center;
color: white;
font-style: italic;
font-size:-small;
}

#menu{

background-color: #D61202;
color: white;
margin-bottom:2px;
padding-top: 3px; 
height: 30px;
width: 380px;

}